# PIN to use for all services
# This is a shared PIN for all services
# If you want to use different PINs for each service
# and set the individual service PINs below to override the shared PIN for that particular service
DUMB_PIN=

# DumbBudget Configuration
DUMBBUDGET_PORT=3333
DUMBBUDGET_DATA_PATH=./dumbsuite/dumbbudget
DUMBBUDGET_PIN=
DUMBBUDGET_BASE_URL=http://localhost:3333
DUMBBUDGET_CURRENCY=USD
DUMBBUDGET_SITE_TITLE=DumbBudget
DUMBBUDGET_INSTANCE_NAME=

# DumbDo Configuration
DUMBDO_PORT=3334
DUMBDO_DATA_PATH=./dumbsuite/dumbdo
DUMBDO_PIN=
DUMBDO_SITE_TITLE=DumbDo
DUMBDO_ALLOWED_ORIGINS=*

# DumbDrop Configuration
DUMBDROP_PORT=3335
DUMBDROP_DATA_PATH=./dumbsuite/dumbdrop
DUMBDROP_PIN=
DUMBDROP_TITLE=DumbDrop
DUMBDROP_MAX_FILE_SIZE=1024
DUMBDROP_BASE_URL=http://localhost:3335

# DumbPad Configuration
DUMBPAD_PORT=3336
DUMBPAD_DATA_PATH=./dumbsuite/dumbpad
DUMBPAD_SITE_TITLE=DumbPad
DUMBPAD_PIN=
DUMBPAD_BASE_URL=http://localhost:3336
DUMBPAD_ALLOWED_ORIGINS=*
DUMBPAD_LOCK_TIME=15
DUMBPAD_MAX_ATTEMPTS=5
DUMBPAD_COOKIE_MAX_AGE=24
DUMBPAD_PAGE_HISTORY_COOKIE_AGE=365

# DumbKan Configuration
DUMBKAN_PORT=3337
DUMBKAN_DATA_PATH=./dumbsuite/dumbkan
DUMBKAN_TITLE=DumbKan
DUMBKAN_PIN=
DUMBKAN_BASE_URL=http://localhost:3337

# DumbWhois Configuration
DUMBWHOIS_PORT=3338
DUMBWHOIS_SITE_TITLE=DumbWhois
DUMBWHOIS_ALLOWED_ORIGINS=*

# DumbTerm Configuration
DUMBTERM_PORT=3339
DUMBTERM_CONFIG=./dumbsuite/dumbterm/config
DUMBTERM_DATA_DIR=./dumbsuite/dumbterm/data
DUMBTERM_TZ=America/Los_Angeles
DUMBTERM_SITE_TITLE=DumbTerm
DUMBTERM_PIN=
DUMBTERM_BASE_URL=http://localhost:3339
ENABLE_STARSHIP=true
DUMBTERM_LOCKOUT_TIME=15
DUMBTERM_MAX_SESSION_AGE=24
DUMBTERM_ALLOWED_ORIGINS=*